# Session 21

## Hypothesis Testing class 4

In [14]:
import numpy as np

In [15]:
p1 = 0.37
p2 = 0.39

n1 = 247
n2 = 308

In [16]:
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(2, p2, n2)

population1

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0])

In [17]:
import statsmodels.api as sm

sm.stats.ttest_ind(population1, population2)

(-8.057116393560019, 4.836464790823932e-15, 553.0)

## ANOVA And chi-square testing in hypothesis testing.

### Anova Testing

In [18]:
from sklearn import datasets
import pandas as pd

iris = datasets.load_iris()

In [19]:
dataframe = pd.DataFrame(iris.data)
dataframe

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [20]:
import scipy.stats as stats

stats.f_oneway(dataframe.iloc[:,0], dataframe.iloc[:,1], dataframe.iloc[:,2])

F_onewayResult(statistic=236.75163298404746, pvalue=7.657188374182084e-71)

### Chi-Square test

### Class Exercise

In [21]:
import pandas as pd

In [22]:
data = pd.read_csv("data_clean.csv")

In [23]:
data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [24]:
data["Ozone"]

0      41.0
1      36.0
2      12.0
3      18.0
4       NaN
       ...
153    41.0
154    30.0
155     NaN
156    14.0
157    18.0
Name: Ozone, Length: 158, dtype: float64

In [25]:
data.isnull()

,Unnamed: 0,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
153,False,False,False,False,False,False,False,False,False,False
154,False,False,False,False,False,False,False,False,False,False
155,False,True,False,False,False,False,False,False,False,False
156,False,False,False,False,False,False,False,False,False,False
157,False,False,False,False,False,False,False,False,False,False

In [26]:
nullvalues = data.isnull().sum()

nullvalues

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [27]:
data["Ozone"].isnull()

0      False
1      False
2      False
3      False
4       True
       ...
153    False
154    False
155     True
156    False
157    False
Name: Ozone, Length: 158, dtype: bool

In [28]:
data["Ozone"].isnull().value_counts()

False    120
True      38
Name: Ozone, dtype: int64

In [29]:
data["Solar.R"].isnull().value_counts()

False    151
True       7
Name: Solar.R, dtype: int64

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB