# Session 6

# Functions available in Pandas
- .read_csv()
> Reads the csv file from the computer
- .read_sas('myfile.sas7bdat')
> Reads sas file from the computer
- .read_hdf('myfile.h5', 'df')
> Reads hdf file from the computer

# Exploring Data / Viewing and Inspecting data

- head(n)
> Shows top n rows of the data. Default value of n is 5 (0-4)

- tail(n)
> Shows bottom n rows of the data. Default value of n is 5 (0-4)

- shape
> Shape reveals the structure of the data table. Gives the number of rows and number of columns.

- info()
> Shows Indexes, Data types and Memory information

- describe()
> Summary statistics for numerical columns

- dtypes
> Gives the data types of different columns

- columns
> Shows names of the columns



# Using these Functions

## head()

In [1]:
import pandas as p

cars = p.read_csv("/home/Aladdin/Downloads/Cars.csv")

cars.head(10)

cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

## tail()

In [2]:
cars.tail(10)

     HP        MPG  VOL          SP         WT
71  162  23.203569  135  133.415985  44.013139
72  162  23.203569  132  133.140074  43.353123
73  140  19.086341  160  124.715241  52.997752
74  140  19.086341  129  121.864163  42.618698
75  175  18.762837  129  132.864163  42.778219
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

## shape

In [3]:
cars.shape

(81, 5)

## info()

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

## describe()

In [5]:
cars.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

## dtypes

In [6]:
cars.dtypes

HP       int64
MPG    float64
VOL      int64
SP     float64
WT     float64
dtype: object

## columns

In [7]:
cars.columns

Index(['HP', 'MPG', 'VOL', 'SP', 'WT'], dtype='object')

In [8]:
cars.axes

[RangeIndex(start=0, stop=81, step=1),
 Index(['HP', 'MPG', 'VOL', 'SP', 'WT'], dtype='object')]